# Set duomenu tipas

In [12]:
my_set = {1,2,3,4,5,4,4,5, -10, 20, -3}

In [4]:
print( my_set )

{1, 2, 3, 4, 5}

In [15]:
my_set.add(10)
my_set.add(-5)
print(my_set)

{2, 3, 4, 5, 10, 20, -10, -5, -3}

In [ ]:
# Set is a mutable variable
my_set.copy

In [13]:
my_set.add(100)
print(my_set)
my_set.pop()
print(my_set)

{1, 2, 3, 4, 5, 100, 20, -10, -3}
{2, 3, 4, 5, 100, 20, -10, -3}

In [9]:
my_set.remove(100)
print(my_set)

{2, 3, 4, 5, 20, -10, -3}

In [16]:
print(my_set)
my_set.discard(100)
my_set.discard(-5)
my_set.discard(-5)
print(my_set)

{2, 3, 4, 5, 10, 20, -10, -5, -3}
{2, 3, 4, 5, 10, 20, -10, -3}

In [17]:
print(9 in my_set)
print(10 in my_set)

False
True

In [21]:
my_set_1 = {1,2,5,6,8}
my_set_2 = {4,5,6,7,10,11}

print(my_set_1.difference(my_set_2))
print(my_set_1.intersection(my_set_2))
print(my_set_1.union(my_set_2))

{8, 1, 2}
{5, 6}
{1, 2, 4, 5, 6, 7, 8, 10, 11}

In [22]:
my_set_1 = {5,6}
my_set_2 = {4,5,6,7,10,11}

print(my_set_1.issubset(my_set_2))

True

# Pratimai

In [26]:
fruits = {"apple", "banana", "cherry"}
fruits.add(('nauja_reiksme', 5))

print(fruits)

{('nauja_reiksme', 5), 'apple', 'cherry', 'banana'}

In [31]:
fruits = {"apple", "banana", "cherry"}

fruits.add("watermelon")
fruits.update( ["cherry", "blackberry", "gooseberry", "strawberry", 'black currant'] )
fruits.discard("apple")
print(len(fruits))
print(fruits)
fruits.add('strawberry')
print(fruits)

7
{'black currant', 'blackberry', 'strawberry', 'cherry', 'watermelon', 'gooseberry', 'banana'}
{'black currant', 'blackberry', 'strawberry', 'cherry', 'watermelon', 'gooseberry', 'banana'}

# Functions

In [32]:
def mano_funkcija():
    print('hello world!')

In [33]:
mano_funkcija()

hello world!

In [34]:
def mano_funkcija_2(name):
    print(f'Hello {name}, how is your day')

In [35]:
mano_funkcija_2('Vytautas')

Hello Vytautas, how is your day

In [40]:
def subtract(num_1, num_2):
    print(num_1 - num_2)
    return(num_1 - num_2)

In [41]:
subtract(12,5)
result = subtract(12,5)

print(result)

7
7
7

In [42]:
def add_number(num_1,num_2=10):
    return num_1 + num_2

In [44]:
print (add_number(3,20))
print (add_number(3))

23
13

In [47]:
def add_all_numbers(*args):
    print(args)
    suma =0
    for number in args:
        suma += number
    return suma

In [48]:
add_all_numbers(5,6,1,20-10)

(5, 6, 1, 10)

22

In [54]:
def say_hello_2(name, num_1, num_2 = 10, **kwargs):
    print(f'hello {name}') 
    print(num_1 + num_2)
    print(kwargs)
    for k, v in kwargs.items():
        print (f'key {k} have a value of {v}')

In [55]:
say_hello_2('Darius', 5, surname = 'Mudenas', no = 'ne')

hello Darius
15
{'surname': 'Mudenas', 'no': 'ne'}
key surname have a value of Mudenas
key no have a value of ne

In [56]:
def mano_funkcija_2(name):
    """
    This function says heloo to <name>, asks how are they.
    """
    print(f'Hello {name}, how is your day')

In [ ]:
mano_funkcija_2()

In [57]:
def my_function(x,y):
    if (x+y) % 2 == 0:
        return x*y
    else:
        return x / y

In [ ]:
def my_function(x,y):
    if (x+y) % 2 == 0:
        return x*y
    return x / y

In [60]:
print(my_function(2,6))
print(my_function(10,5))

12
2.0